
.card{
    .inputs{
        margin-top:40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        input{
            padding: 1.3rem 3.1rem;
            border: none;
            border-radius: 8px;
            background-color: #35146b27;
        }
        .showP{
            input{
                width: 1rem; height: 1rem;
                vertical-align: middle;
            }
            label{
                font-size: 1.1rem;
            }
        }
    }
    .recovery{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: start;
        small{
            font-size: 1.2rem;
        }
    }
    
}
