@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jura', sans-serif;
    text-transform: uppercase;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #da4453, #89216b);

    .card{
        width: 500px;
        height: 550px;
        background-color: white;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 40px;
        gap: 15px;

        h1{
            font-size: 3.6rem;
        }
        p{
            font-size: 1.4rem;
            text-align: center;
        }

        button{
            margin-top: 60px;
            /* padding: 16px ; */
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 8px;
            color: white;
            background-color: #4b2189;
            font-size: 2.2rem;
            font-weight: 700;
            transition: 0.2s ease;

            &:hover{
                background-color: #36146b;
            }
        }
    }
}